pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.nrepl-history
.DS_Store
node_modules/
.lein-env
.#*
debug.log
.shadow-cljs/
.idea
*.iml
resources/public/js/test/index.html
mobile/.expo
mobile/app
fulcro.iml
resources/public/js
.clj-kondo/
.out/
