{:paths   ["src/main" "resources"]
 :deps    {org.clojure/clojure                 {:mvn/version "1.11.1"}
           org.clojure/clojurescript           {:mvn/version "1.11.60"}
           com.fulcrologic/fulcro-native       {:mvn/version "0.0.11"}
           com.fulcrologic/fulcro-garden-css   {:mvn/version "3.0.9"}
           com.fulcrologic/guardrails          {:mvn/version "1.1.11"}
           garden/garden                       {:mvn/version "1.3.10"}
           com.fulcrologic/semantic-ui-wrapper {:mvn/version "2.1.4"}
           edn-query-language/eql              {:mvn/version "2021.07.18"}
           org.clojure/core.async              {:mvn/version "1.6.673"}
           com.wsscode/pathom                  {:mvn/version "2.4.0"}

           ;; mock database
           datascript/datascript               {:mvn/version "1.4.1"}

           ;; web server
           http-kit/http-kit                   {:mvn/version "2.6.0"}
           bk/ring-gzip                        {:mvn/version "0.3.0"}
           bidi/bidi                           {:mvn/version "2.1.6"}
           hiccup/hiccup                       {:mvn/version "1.0.5"}
           mount/mount                         {:mvn/version "0.1.17"}
           ring/ring-core                      {:mvn/version "1.9.6"}
           ring/ring-defaults                  {:mvn/version "0.3.4"}
           metosin/reitit-ring                 {:mvn/version "0.6.0"}

           ;; logging
           com.taoensso/timbre                 {:mvn/version "6.1.0"}
           
           org.clojars.currentoor/sente        {:mvn/version "1.14.1-SNAPSHOT"}
           com.fulcrologic/fulcro              {:mvn/version "3.6.1"
                                                :exclusions  [com.taoensso/sente]} 
           }

 :aliases {:cljs {:jvm-opts   ["-DSENTE_ELIDE_JS_REQUIRE=true"]
                  :extra-deps {com.cognitect/transit-cljs          {:mvn/version "0.8.256"}
                               com.fulcrologic/semantic-ui-wrapper {:mvn/version "2.1.4"}
                               binaryage/devtools                  {:mvn/version "1.0.6"}}}
           :dev  {:extra-paths ["src/dev"]
                  :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.4.2"}
                                thheller/shadow-cljs        {:mvn/version "2.21.0"}}}}}
