{:deps     {:aliases [:cljs :dev]}
 :nrepl    {:port 9000}
 :jvm-opts ["-Xmx2G"]
 :builds   {:web
            {:target     :browser
             :output-dir "resources/public/js/main"
             :asset-path "/js/main"
             :modules    {:main {:init-fn app.client/init
                                 :entries [app.client]}}
             :dev        {:closure-defines {'goog.DEBUG true}}
             :devtools   {:after-load app.client/refresh
                          :preloads   [com.fulcrologic.fulcro.inspect.preload app.development-preload]}}

            :native
            {:target     :react-native
             :init-fn    app.client-native/init
             :output-dir "mobile/index"
             :dev        {:closure-defines {'goog.DEBUG                  true
                                            app.client-native/SERVER_URL "http://192.168.1.152:3000/api-native"}}
             :release    {:compiler-options {:optimizations     :simple
                                             :infer-externs     :auto
                                             :variable-renaming :off
                                             :property-renaming :off
                                             :pretty-print      true
                                             :source-map        true}}
             :js-options {:node-modules-dir "mobile/node_modules"}
             :devtools   {:autoload        true
                          :reload-strategy :full
                          :after-load      app.client-native/start
                          :preloads        [app.inspect-native-preload]}}}}
