{:deps     {:aliases [:cljs :dev]}
 :nrepl    {:port 9000}
 :jvm-opts ["-Xmx2G"]
 :builds   {:web
            {:target     :browser
             :output-dir "resources/public/js/main"
             :asset-path "/js/main"
             :modules    {:main {:init-fn app.client/init
                                 :entries [app.client]}}
             :devtools   {:after-load app.client/refresh
                          :preloads   [com.fulcrologic.fulcro.inspect.preload app.development-preload]}}

            :native
            {:target     :react-native
             :init-fn    app.client-native/init
             :output-dir "mobile/app"
             :dev        {:closure-defines {app.client-native/SERVER_URL "http://localhost:3000/api"}}
             :release    {:compiler-options {:optimizations     :simple
                                             :infer-externs     :auto
                                             :variable-renaming :off
                                             :property-renaming :off
                                             :pretty-print      true
                                             :source-map        true}}
             :js-options {:node-modules-dir "mobile/node_modules"}
             :devtools   {:autoload   true
                          :after-load app.client-native/start
                          :preloads   [shadow.expo.keep-awake
                                       ;; Uncomment the following line if you're running Fulcro Inspect Electron
                                       ;com.fulcrologic.fulcro.inspect.websocket-preload
                                       ]}}}}
